# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envgit rm --cached .env
venv/
.env

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Resultados gerados
output/
*.png
*.csv

# Logs
*.log

output.txt